*{
    margin: 0;
    padding: 0;
    font-family: "Iceland", sans-serif;
}

.iceland-regular {
    font-family: "Iceland", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  
  

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(6, 93, 108, 0.445),rgba(4,9,30,0.8)),url(Images/ogclz3.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 1.5% 2.25%;
    justify-content: space-between;
    align-items: center
}

nav img{
    width:50px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #f9ffe7;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2.31px;
    background: #1b7ec5;
    display: block;
    margin: auto;
    transition: 0.6s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #f9ffe7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 100px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #f9ffe7;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #f9ffe7;
    border: 1px solid #f9ffe7;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

.hero-btn:hover{
    border: 1px solid #f9b31a;
    background: #f9b31a;
    transition: 0.78s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 60px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #1270b3;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.77s;
    }
    nav .fa{
        display: block;
        color: #f9ffe7;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}


.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 48px;
    font-weight: 600;
}
p{
    color:#1c164d;;
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    padding: 10px;
}



.row{
    margin-top: 3%;
    display: flex;
    gap: 20px;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-left: -30px;
    margin-right: -30px;
}

.course-col{
    height: 40%;
    width: 250px;
    justify-content: center;
    align-items: center;
    flex-basis: 31%;
    background: #ade6fc;
    border-radius: 20px;
    margin-bottom: 5%;
    padding:20px 20px;
    box-sizing: border-box;
    transition: 0.42s;
}
 
h3{
    text-align: center;
    font-weight: 600;
    margin: 12px 0;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}


@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}


.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom:25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
    color:#228cb6;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}


/* about us */ 
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(6, 93, 108, 0.445),rgba(4,9,30,0.8)),url(Images/clz3.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:#f9b31a
}

.sub-header h1{
    margin-top: 100px;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}


.about-col{
    flex-basis: 45%;
    padding: 30px 1px;
}

.about-col img{
    width: 100%;
    justify-content: center;
    border-radius: 35px;
}

.about-col h1{
    padding-top: 0;
}

.about-col p{
    padding: 15px 0 25px;
}

.red-btn{
    border: 1px solid #1c164d;
    background: transparent;
    color: #1c164d;
}

.red-btn:hover{
    border: 1px solid #228cb6;
    transition: 0.78s;
    background: #1daee8;
    color: #f8f8f8;
}




/*----------------------- courses ----------------------*/
.bro-header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(6, 93, 108, 0.445),rgba(4,9,30,0.8)),url(Images/clz3.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:#f9b31a
}

.nava-links{
    flex: 1;
    text-align: left;
    width: 200%;
    position: sticky;
    top: 30px;
    padding: 5%;
    border-right: inset #f9b31a 5px;
    border-bottom: inset #f9b31a 4px;
    border-radius: 60px;
    grid-auto-flow: auto;
}

.nava-links ul li{
    list-style: none;
    display: flex;
    padding: 8px 2px;
    position: relative;
}

.nava-links ul li a{
    color:#1c164d;
    text-decoration: none;
    font-size: 20px;
}

.nava-links ul li a::after{
    content: '';
    width: 0%;
    height: 2.31px;
    background: #1b7ec5;
    display: block;
    margin: left;
    transition: 0.6s;
}

.nava-links ul li a:hover::after{
    width: 100%;
}


/* 2nd wala hoh yo chai*/


.bro-header{
    height: 20vh;
    width: 100%;
    background-image: linear-gradient(rgba(6, 93, 108, 0.445),rgba(4,9,30,0.8)),url(Images/clz3.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:#f9b31a
}

.neva-links{
    flex: 1;
    text-align: right;
}

.neva-links ul li{
    list-style: none;
    display: flex;
    padding: 8px 12px;
    position: relative;
}

.neva-links ul li a{
    color: #55c8e2;
    text-decoration: none;
    font-size: 20px;
    border-radius: 12px;
}

.neva-links ul li a::after{
    content: '';
    width: 0%;
    height: 2.31px;
    background: #1b7ec5;
    display: block;
    margin: left;
    transition: 1s;
}

.neva-links ul li a:hover::after{
    width: 100%;
}


html{
    scroll-behavior: smooth;
}


.boro{
    display: flex;
    color:#1c164d;
}

.noro{
    width: 500px;
    position: sticky;
}
.nobro{
    padding-left: 18%;
    padding-right: 1%;
}
.nobro h1{
    padding-top: 12px;
    padding-bottom: 8px;
    text-align: center;
    border-left: solid #1c164d 8px;
    border-radius: 5px;
    text-align: left;
    padding-left: 20px;
    margin-top: 12px;
}

.nobro h2{
    padding-top: 15px;
    text-align: Left;
    font-size: 30px;
}
.nobro h3{
    padding-top: 15px;
    text-align: Left;
    font-size: 25px;
}

.nobro h4{
    padding-top: 15px;
    text-align: Left;
    font-size: 20px;
}

.nobro p{
    text-align: justify;
}


table{
    table-layout: fixed;
    border-collapse: collapse;
    border: solid;
    border-radius: 10px;
    min-width: 1000px;
    margin: 30px 0;
    font-size: 1.9em;
}


ul li{
    padding: 8px 12px;
    position: relative;
    font-size: 18px;
}

ol li{
    padding: 8px 12px;
    position: relative;
    font-size: 18px;
}

@media(max-width: 700px){
    
.neva-links ul li a::after{
    content: '';
    width: 0%;
    height: 2.31px;
    background: #1b7ec5;
    display: block;
    margin: left;
    transition: 1s;
}

.neva-links ul li a:hover::after{
    width: 100%;
}


html{
    scroll-behavior: smooth;
}


.boro{
    display: flex;
    color:#1c164d;
}

.noro{
    width: 500px;
    position: sticky;
}
.nobro{
    padding-left: 300px;
}
.nobro h1{
    padding-top: 12px;
    padding-bottom: 8px;
    text-align: center;
    border-left: solid #1c164d 8px;
    border-radius: 5px;
    text-align: left;
    padding-left: 20px;
    margin-top: 12px;
}

.nobro h2{
    padding-top: 15px;
    text-align: Left;
    font-size: 30px;
}
.nobro h3{
    padding-top: 15px;
    text-align: Left;
    font-size: 25px;
}

.nobro h4{
    padding-top: 15px;
    text-align: Left;
    font-size: 20px;
}

.nobro p{
    text-align: justify;
}


table{
    table-layout: fixed;
    border: solid;
    border-radius: 10px;
    min-width: 400px;
}

ul li{
    padding: 8px 12px;
    position: relative;
    font-size: 18px;
}

ol li{
    padding: 8px 12px;
    position: relative;
    font-size: 18px;
}
}


.nobro img{
    max-inline-size: 80%;
    width: 80%;
}


.meme img{
    width: 50px;
    position: sticky;
    margin-right: 2%;
    display: inline-flex;
    align-items: start;
    top: 8%;
}

.meme{
    position: sticky;
}

